.ButtonsOfKeyboard {
	display: flex;
	justify-content: flex-start;
	margin-bottom: 20px;
}

.ButtonsOfKeyboard div {
	margin-right: 15px;
	position: relative;
	cursor: pointer;
}

.ButtonsOfKeyboard div.off::before {
	display: block;
	width: 2px;
	content: "";
	position: absolute;
	background: red;
	transform-origin: top left;
}

.ButtonsOfKeyboard div.off::after {
	display: block;
	width: 2px;
	content: "";
	position: absolute;
	background: red;
	transform-origin: bottom left;
}