.setText {
	position: absolute;
	top: 5px;
	background: #c2cdd3;
	border-radius: 5px;
	border: 2px solid #526f87;
	box-shadow: 4px 3px 10px #526f87;
	width: 500px;
	padding: 10px;
	outline: none;
	z-index: 9999;
}

.setText button {
	margin-bottom: 10px;
	border: 1px solid black;
	line-height: 15px;
	border-radius: 4px;
	padding: 5px 10px;
	user-select: none;
	cursor: pointer;
	background: #45657f;
	color: #e8e3e3;
	font-weight: bold;
	transition: .3s;
	outline: none;
}

.setText button:hover {
	background: #223747;
}

.setText textarea {
	width: 490px;
	height: 500px;
	border: 1px solid black;
	outline: none;
	resize: none;
	font-size: 14px;
	padding: 5px;
}