.progressTable tbody td:last-child {
	position: relative;
}

.progressTable .delete {
	position: absolute;
	right: -35px;
	top: 0;
	color: red;
	cursor: pointer;
	user-select: none;
	transition: .3s;
	font-weight: bold;
	font-size: 22px;
}

.progressTable .delete:hover {
	color: rgb(117, 5, 5);
	transform: scale(1.3);
}