.KeyItem {
	width: 50px;
	height: 50px;
	border: 1px solid rgb(16, 75, 109);
	border-radius: 4px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	font-weight: bold;
}

.key-Backspace,
.key-Tab,
.key-CapsLock,
.key-Enter,
.key-Shift,
.key-Space {
	font-weight: normal;
}

.key-Backspace {
	width: 80px;
	font-size: 14px;
}

.key-Tab {
	width: 65px;
}

.key-CapsLock,
.key-Enter {
	width: 85px;
}

.key-Shift {
	width: 95px;
}

.key-Space {
	width: 350px;
}

.key-left-2 {
	background: #e6a459;
}

.key-right-2 {
	background: #e8eb5c;
}

.key-left-3,
.key-right-3 {
	background: #8de659;
}

.key-left-4,
.key-right-4 {
	background: #59c5e6;
}

.key-left-5,
.key-right-5 {
	background: #3dc95b;
}

.key-colorSpace-1 {
	background: #3ac0b9;
}

.KeyItem span:nth-child(2) {
	position: absolute;
	left: 34px;
	top: 3px;
	font-size: 13px;
}

.KeyItem span {
	background: inherit;
}