.buttonsOfKeyboard .fillColor {
	width: 40px;
	height: 30px;
	background: url(./fillColor.svg);
}

.buttonsOfKeyboard .fillColor.off:before {
	height: 42px;
	transform: rotate(-45deg);
	left: 3px;
}

.buttonsOfKeyboard .fillColor.off:after {
	height: 42px;
	top: -15px;
	transform: rotate(45deg);
	left: 3px;
}