.ButtonsOfKeyboard .fillColor {
	width: 30px;
	height: 30px;
	background: url(./fillColor.png);
}

.ButtonsOfKeyboard .fillColor.off:before {
	height: 42px;
	transform: rotate(-45deg);
}

.ButtonsOfKeyboard .fillColor.off:after {
	height: 42px;
	top: -15px;
	transform: rotate(45deg);
}