.SetLanguage {
	position: relative;
}

#chkboxSelectLanguage {
	display: none;
}

#chkboxSelectLanguage+label {
	user-select: none;
	border-bottom: dotted 2px green;
	padding-bottom: 2px;
	cursor: pointer;
	transition: .3s;
}

#chkboxSelectLanguage+label:hover {
	color: #757171;
	border-bottom: 2px dotted #1a391a;
}