.progress {
	margin-top: 30px;
	margin-bottom: 60px;
}

.progressWrapper {
	display: flex;
	justify-content: flex-start;
}

.progressItem {
	margin-top: 20px;
	width: 400px;
}

.progressItem h3 {
	margin-bottom: 10px;
}

.progressItem table,
.progressItem table td,
.progressItem table th {
	border: 2px solid #ccc;
	border-collapse: collapse;
	text-align: center;
	padding: 5px 10px;
}

.progressItem table span:first-child {
	margin-right: 10px;
}