.Progress {
	margin-top: 30px;
	margin-bottom: 60px;
}

.ProgressWrapper {
	display: flex;
	justify-content: flex-start;
}

.ProgressItem {
	margin-top: 20px;
	width: 400px;
}

.ProgressItem h3 {
	margin-bottom: 10px;
}

.ProgressItem table,
.ProgressItem table td,
.ProgressItem table th {
	border: 2px solid #ccc;
	border-collapse: collapse;
	text-align: center;
	padding: 5px 10px;
}

.ProgressItem table span:first-child {
	margin-right: 10px;
}