.arm {
	width: 93px;
	height: 107px;
	position: absolute;
	z-index: 100;
}

.arm-l-1 {
	left: -20px;
	top: -10px;
	background: url(./Arm-l-1.png);
}

.arm-l-2 {
	left: -36px;
	top: 28px;
	background: url(./Arm-l-2.png);
}

.arm-l-3 {
	left: -17px;
	top: 33px;
	background: url(./Arm-l-3.png);
}

.arm-l-4 {
	left: 0px;
	top: 27px;
	background: url(./Arm-l-4.png);
}

.arm-l-5 {
	left: 21px;
	top: 8px;
	background: url(./Arm-l-5.png);
}

.arm-r-1 {
	right: -20px;
	top: -10px;
	background: url(./Arm-r-1.png);
}

.arm-r-2 {
	right: -36px;
	top: 28px;
	background: url(./Arm-r-2.png);
}

.arm-r-3 {
	right: -17px;
	top: 33px;
	background: url(./Arm-r-3.png);
}

.arm-r-4 {
	right: 0px;
	top: 27px;
	background: url(./Arm-r-4.png);
}

.arm-r-5 {
	right: 21px;
	top: 8px;
	background: url(./Arm-r-5.png);
}