.TextField {
	margin: 20px 0 20px;
}

.TextFieldItem, .TextFieldItem span {
	font-size: 18px;
	letter-spacing: 1px;
	font-family: 'Courier New', Courier, monospace;
	font-weight: 600;
	line-height: 26px;
}
